<div class="bg-gray-100">

  <component-utility-bar [categories]="headerService.categories()" />

  <div class="bg-[#026cdf] text-white px-4 md:px-8 pt-4 pb-16 relative shadow-md">

    <component-nav-bar
      [authenticated]="authenticated"
      [genders]="headerService.genders()"
      (logout)="logout()"
      (goToLogin)="goToLogin()"
      (toggleMenu)="toggleMenu()"
    />

    @if (isMenuOpen) {
         <component-menu-open [authenticated]="authenticated" [headerService]="headerService" />
    }

    <header-search-event />
  </div>
</div>
