 <div class="bg-black border-t border-gray-800">
    <div class="max-w-7xl mx-auto px-4 md:px-8 py-6 flex flex-col md:flex-row justify-between items-center gap-4 text-xs text-gray-500">

      <p>&copy; 2025 SeatGuard. Todos los derechos reservados.</p>

      <div class="flex items-center gap-6">
        <a routerLink="/dentro/legal/privacy-policy" class="hover:text-gray-300 transition">Privacidad</a>
        <a routerLink="/dentro/legal/terms-conditions" class="hover:text-gray-300 transition">Términos</a>
        <a class="hover:text-gray-300 transition cursor-not-allowed">Sitemap</a>

        <div class="flex items-center gap-2 text-white font-medium cursor-pointer hover:opacity-80 transition">
             <div class="w-6 h-4 bg-white relative overflow-hidden block border border-gray-600 rounded-sm">
                 <div class="absolute top-0 left-0 w-full h-[33%] bg-[#75AADB]"></div>
                 <div class="absolute bottom-0 left-0 w-full h-[33%] bg-[#75AADB]"></div>
                 <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1.5 h-1.5 bg-[#F4B92C] rounded-full"></div>
             </div>
             <span>AR</span>
        </div>
      </div>

    </div>
  </div>
